.my-products-view {
  display: block;
  padding: 1em;
}

.my-products-view .content{
  display: flex;
}

.my-products-view .contact-grid {
  flex: 2;
}

.my-products-view .contact-form {
  flex: 1;
  max-width: 45%;
  padding: var(--lumo-space-m);
}
